
@{
    ViewBag.Title = "Universidad ABC";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/Login.css" />

<header>
    <nav id="navbar">
        <div class="containerMenu">
            <h1><a href="@Url.Action("Index", "Home")">Registro Academico</a></h1>
            <ul>
                <li><a href="@Url.Action("About", "Home")">Acerca de</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contacto</a></li>
                <li><a href="@Url.Action("Login", "Access")">Iniciar Sesión</a></li>
            </ul>
        </div>
    </nav>
</header>

<button id="btnInicioSesion" style="background: #09DA3C; margin-left: 34%; width: 500px; height: 50px">Iniciar Sesion</button>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>

        $(document).ready(function () {
            $(document).on('click', '#btnInicioSesion', function () {
                document.location.href = "@Url.Action("Login", "Access")";
            })
        })

</script>
    